*    @ContentSquare/tag

# ==============
# Platform stuff
# ==============
# !!! Always keep it on the last lines of the CODEOWNERS file !!!

# Deployfile gives rights to modify productions resources
/Deployfile @ContentSquare/Platform

# .github controls CODEOWNERS
/.github/CODEOWNERS @ContentSquare/Platform

# ==============
# Platform stuff
# ==============
