* @ContentSquare/tag

# ==============
# Platform stuff
# ==============
# !!! Always keep it on the last lines of the CODEOWNERS file !!!

# .github controls CODEOWNERS
/.github/CODEOWNERS @ContentSquare/devx

# Protect .github/agents folder for GitHub Copilot agents
/.github/agents/ @ContentSquare/tag

# ==============
# Platform stuff
# ==============
